<ul>
  <li><a href="#"></a>Link 1</li>
  <li><a href="#"></a>Link 1</li>
  <li><a href="#"></a>Link 1</li>
  <li><a href="#"></a>Link 1</li>
  <li><a href="#"></a>Link 1</li>
  <li><a href="#"></a>Link 1</li>
  <li><a href="#"></a>Link 1</li>
  <li><a href="#"></a>Link 1</li>
</ul>