// Colors
$primary-bg-color: #2e3440;
$primary-fg-color: #c2c8d2;
$secondary-bg-color: #3b4252;
$secondary-fg-color: #acafb4;
$selection-bg-color: #434c5e;
$muted-fg-color: #616e88;
$error-color: #bf616a;
$warning-color: #d08770;
$info-color: #81a1c1;

// Layout
$header-height: 30px;

// Fonts
// $font-family-base: 'Open Sans', sans-serif;
$font-family-base: 'Roboto Mono', monospace;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Font styles
$font-style-normal: normal;
$font-style-italic: italic;
